[submodule "third_party/prjxray-db"]
	path = third_party/prjxray-db
	url = https://github.com/SymbiFlow/prjxray-db.git
[submodule "third_party/prjxray"]
	path = third_party/prjxray
	url = https://github.com/SymbiFlow/prjxray.git
[submodule "third_party/RapidWright"]
	path = third_party/RapidWright
	url = https://github.com/Xilinx/RapidWright.git
[submodule "third_party/capnproto-java"]
	path = third_party/capnproto-java
	url = https://github.com/capnproto/capnproto-java.git
[submodule "third_party/fpga-interchange-schema"]
	path = third_party/fpga-interchange-schema
	url = https://github.com/SymbiFlow/fpga-interchange-schema.git
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
