# clk
set_io clk W5

# GTP Channel
set_io tx_p D2
set_io tx_n D1
set_io rx_p B4
set_io rx_n A4

# GTP Common / IBUFDS
set_io clk_n_0 A8
set_io clk_p_0 B8
set_io clk_n_1 A10
set_io clk_p_1 B10
set_io test_in V17
set_io test_out U16
