set_io a[0]  U14
set_io a[1]  V14
set_io a[2]  V13
set_io a[3]  U16
set_io a[4]  U15
set_io a[5]  W14
set_io a[6]  W13
set_io a[7]  W15
set_io a[8]  V15
set_io a[9]  W17
set_io a[10] W16
set_io a[11] V17
set_io a[12] V16
set_io a[13] U18
set_io a[14] U17
set_io a[15] T18
set_io b[0]  T17
set_io b[1]  W19
set_io b[2]  W18
set_io b[3]  V19
set_io b[4]  U19
set_io b[5]  R18
set_io b[6]  P18
set_io b[7]  P17
set_io b[8]  N17
set_io b[9]  K17
set_io b[10] L17
set_io b[11] M19
set_io b[12] M18
set_io b[13] R19
set_io b[14] P19
set_io b[15] N19
set_io o[0]  N18
set_io o[1]  K18
set_io o[2]  L18
set_io o[3]  J18
set_io o[4]  J17
set_io o[5]  J19
set_io o[6]  K19
set_io o[7]  G17
set_io o[8]  H17
set_io o[9]  G19
set_io o[10] H19
set_io o[11] E19
set_io o[12] E18
set_io o[13] F18
set_io o[14] G18
set_io o[15] D19